@model EntityLayer.Concrete.Content
@{
    ViewBag.Title = "AddContent";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>içerik girişi</h2>
@using (Html.BeginForm("AddContent", "WriterPanelContent", FormMethod.Post))
{
    <div class="form-group">
        <input type="hidden" name="headingId" value="@ViewBag.d" />
        @Html.Label("içeriği yazınız")
        @Html.TextAreaFor(x => x.contentValue,4,30, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.contentValue)
        <br />
       
        <button class="btn btn-info">kaydet</button>

    </div>
}

