
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
   <h3>mvc kamp tablo orneği</h3>
   <table>
       <tr>
           <th>id</th>
           <th>adi</th>
           <th>açıklama</th>
           <th>durum</th>
       </tr>
       @foreach (var item in collection)
       {
           <tr>

               <td></td>
           </tr>
       }

   </table>
</body>
</html>
